body{
	margin:0;
	padding:0;
	background-image:url('/pictures/background.jpg');
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:fixed;
}

* {
	margin:0;
	padding:0;
}

ul{
	list-style-type:none;
}

a{
	display:inline-block;
	text-decoration:none;
	border:1px black solid;
	background-color:black;
	color:white;
	padding:10px;
	font-family:Arial;
	margin:15px;
}

.container{
	margin:10% 30%;
	border: 2px black solid;
	border-radius:20px;
	padding:30px;
	background-color:#444444;
}

.form .form-group{
	padding:10px;
}

.form .title{
	margin:10px;
	margin-bottom:20px;
	font-family:Monospace;
	color:white;
	font-weight:bold;
}

.form input[type="text"]{
	width:94%;
	font-family:Monospace;
	border:2px black solid;
	background-color:#222222;
	color:white;
}

.form input{
	border-radius:10px;
}

.form label{
	display:block;
	color:white;
	margin-bottom:10px;
	font-family:Monospace;
}

.form input{
	padding:10px;
}


.form .button{
	margin:10px;
	background:#FFC1CC;
	color:black;
	font-family:Monospace;
	font-weight:bold;
	border:2px black solid;
}

#output{
	margin-left:50px;
	color:red;
	font-family:Monospace;
}

.product{
	padding:none;
	margin:10px;
	margin: 20px 200px;
	display:flex;
	justify-content:flex-start;
}

.product ul{
	margin-top:70px;
	color:white;
	font-family:Monospace;
}

.productImage{
	margin:10px 0px 10px 10px;
	width:155px;
	height:350px;
	background-image:url('/pictures/milk2.jpg');
	background-size:cover;
}

.buttonCart{
	white-space:nowrap;
	padding:10px;
	margin:20px;
	background:#FFC1CC;
	border-radius:10px;
	color:black;
	font-family:Monospace;
	font-weight:bold;
	border:2px black solid;
}

.top-panel .centered{
	display:flex;
	justify-content:center;
	align-items:center;
}

.top-panel{
	background-color:#444444;
	border:1px black solid;
	padding:20px;
	display:grid;
	justify-items:center;
	grid-template-columns: 1fr auto 1fr;
}

#searh-button{
	margin-left:10px;
}

#search-bar{
	display:flex;
	align-items:center;
}

.form-group1{
	margin-right:10px;
}

.top-panel h1{
	font-family:Monospace;
	color:white;
	justify-self:start;
	margin-left:50px;
}

.buttonCheckout{
	background:#FFC1CC; border-radius:10px;
	color:black;
	font-family:Monospace;
	font-weight:bold;
	border:2px black solid;
}

.link2button{
	background:#FFC1CC;
	border-radius:10px;
	color:black;
	font-family:Monospace;
	font-weight:bold;
	border:2px black solid;
}

#cart-button-top{
	justify-self:end;
	margin-right:50px;
}

.text{
	font-family:Monospace;
	color:white;
}

.button2checkout{
	background:#FFC1CC;
	padding:10px;
	border-radius:10px;
	color:black;
	font-family:Monospace;
	font-weight:bold;
	border:2px black solid;
}

#output1{
	margin:20px;
}

.border{
	border:1px black solid;
	margin:10px 15%;
	padding:20px 700px 20px 100px;
	background-color:#444444;
}

#item{
	border:2px black solid;
	border-radius:10px;
	margin:10px;
	padding:10px;
}

#nav-bar{
	border:2px black solid;
	background-color:#222222;
}

#nav-bar a{
	width:80px;
	margin:50px;
	background:#FFC1CC;
	border-radius:10px;
	color:black;
	font-family:Monospace;
	font-weight:bold;
	border:2px black solid;
	white-space:nowrap;
}

.not-top-panel{
	display:flex;
}
