body{
	margin:0;
	padding:0;
	background-image:url('/pictures/background.jpg');
	background-size:cover;
}

* {
	margin:0;
	padding:0;
}

ul{
	list-style-type:none;
}

a{
	display:inline-block;
	text-decoration:none;
	border:1px black solid;
	background-color:black;
	color:white;
	padding:10px;
	font-family:Arial;
	margin:15px;
}

.container{
	margin:10% 20%;
	border: 2px #444444 solid;
	border-radius:20px;
	padding:30px;
	background-color:#444444;
}

.form .form-group{
	padding:10px;
}

.form .button{
	margin:10px;
	background:red;
	color:white;
	font-family:Monospace;
	font-weight:bold;
}

.form .title{
	margin:10px;
	margin-bottom:20px;
	font-family:Monospace;
	color:white;
	font-weight:bold;
}

.form input[type="text"]{
	width:90%;
	font-family:Monospace;
	border:1px black solid;
	background-color:#222222;
	color:white;
}

.form input{
	border-radius:10px;
}

.form label{
	display:block;
	color:white;
	margin-bottom:10px;
	font-family:Monospace;
}

.form input{
	padding:10px;
}

#output{
	margin-left:50px;
	color:red;
	font-family:Monospace;
}

.product{
	border: 2px black solid;
	border-radius:10px;
	padding:none;
	margin:10px;
	margin: 100px 200px;
	display:flex;
	justify-content:flex-start;
	background-color:white;
}

.product ul{
	margin-top:70px;
	color:black;
	font-family:Monospace;
}

.productImage{
	margin:10px 0px 10px 10px;
	width:155px;
	height:350px;
	background-image:url('/pictures/milk2.jpg');
	background-size:cover;
}

.buttonCart{
	margin:10px;
	background:black;
	color:white;
}

.top-panel{
	background-color:#444444;
	display:flex;
	justify-content:center;
	align-items:center;
	padding:20px;
}

.top-panel form input[type="text"]{
	width:90%;
	font-family:Monospace;
	border:1px black solid;
	margin-bottom:7px;
	width:500px;
	padding:10px;
}

.top-panel form input{
	margin-left:50px;
	border-radius:5px;
}

.top-panel form input[type="submit"]{
	padding:5px;
	background-color:black;
	color:white;
}

.top-panel h1{
	font-family:Monospace;
	color:white;
}

.buttonCheckout{
	margin:10px;
	background:black;
	color:white;
}
