body{
	margin:0;
	padding:0;
	background-image:url('background7.jpg');
	background-size:cover;
}

a{
	display:inline-block;
	text-decoration:none;
	border:1px black solid;
	background-color:black;
	color:white;
	padding:10px;
	font-family:Arial;
	margin:15px;
}

.container{
	margin:10% 20%;
	border: 2px black solid;
	border-radius:20px;
	padding:20px;
	background-image:url('blur4.png');
	background-size:cover;
}

.form .form-group{
	padding:10px;
}

.form .button{
	margin:10px;
	background:black;
	color:white;
}

.form .title{
	margin:10px;
	margin-bottom:20px;
	font-family:Arial;
	color:black;
	font-weight:bold;
}

.form input[type="text"]{
	width:90%;
	font-family:Arial;
	border:1px black solid;
}

.form input{
	padding:10px;
}

